<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/background.css">
    <link rel="stylesheet" href="../static/img/Index.css">
</head>
<div class="head">
    <div class="head">
        <a href="Home">Home</a>
        <a href="Wineries">Wineries</a>
        <a href="Map">Maps</a>
        <a href="About">AboutUs</a>
    </div>

</div>
<body>
    <div class="Body">
        <img src="img/Logo_MConverter_1.webp" alt="Jovan's Baby">
        <p>Insert Bullshit here</p>
    </div>
</body>
</html>