<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Winery List</title>
  <link rel="stylesheet" href="/background.css">
  <link rel="stylesheet" href="/Wineries.css">
  <style>


    .back{
      color: greenyellow;
    }
    .next{
      color:yellow;
    }
    .buttons{
      font-size: 40px;
      display: flex;
    }
    .buttons a{
      color: yellow;
      background-color: white;
      border-radius: 20px;
    }
  </style>
</head>
<div class="head">
  <a href="Home">Home</a>
  <a href="Wineries">Wineries</a>
  <a href="Map">Maps</a>
  <a href="About">AboutUs</a>
</div>
<body>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Location</th>
    <th>Rating</th>
    <th>Number of Ratings</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="winery : ${wineriesPage.content}">
    <td th:text="${winery.name}"></td>
    <td th:text="${winery.address}"></td>
    <td th:text="${winery.location}"></td>
    <td th:text="${winery.rating}"></td>
    <td th:text="${winery.numRatings}"></td>
  </tr>

  </tbody>
</table>

<div class="buttons">
  <div class="back" th:if="${wineriesPage.hasPrevious()}">
    <a th:href="@{/Wineries(page=${wineriesPage.previousPageable().pageNumber})}">&lt;&lt; Previous Page</a>
  </div>

  <div class="next" th:if="${wineriesPage.hasNext()}">
    <a th:href="@{/Wineries(page=${wineriesPage.nextPageable().pageNumber})}">Next Page &gt;&gt;</a>
  </div>
</div>
</body>
</html>

